aiogram==2.25.1
aiogram-dialog==1.9.0
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
anyascii==0.3.2
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.26.0
Babel==2.9.1
beautifulsoup4==4.11.2
bottle==0.12.23
bottle-websocket==0.2.9
Brotli==1.0.9
cachetools==4.2.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
crayons==0.4.0
cssselect2==0.7.0
cx-Freeze==6.13.1
cycler==0.11.0
defusedxml==0.7.1
distlib==0.3.6
Django==4.2
django-better-admin-arrayfield==1.4.2
django-environ==0.10.0
django-filter==22.1
django-jsonfield==1.4.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
Eel==0.14.0
et-xmlfile==1.1.0
ez-setup==0.9
filelock==3.8.2
filetype==1.2.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
idna==3.4
importlib-metadata==5.1.0
Jinja2==3.1.2
keyboard==0.13.5
kiwisolver==1.4.4
l18n==2021.3
magic-filter==1.0.9
MarkupSafe==2.1.2
matplotlib==3.6.2
multidict==6.0.4
numpy==1.23.5
opencv-python==4.6.0.66
openpyxl==3.1.2
packaging==21.3
patchelf==0.17.0.0
piexif==1.1.3
Pillow==9.5.0
platformdirs==2.6.0
psycopg2-binary==2.9.6
PyAudio==0.2.13
pycparser==2.21
pydyf==0.6.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyparsing==3.0.9
pyphen==0.14.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyTelegramBotAPI==4.11.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.2
pytz==2023.3
redis==4.5.4
requests==2.29.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.4
telebot==0.0.5
telegram.py==0.3.1
telepath==0.3
tinycss2==1.2.1
urllib3==1.26.15
virtualenv==20.17.1
wagtail==5.0
weasyprint==59.0
webencodings==0.5.1
whichcraft==0.6.1
Willow==1.5
yarl==1.9.1
zipp==3.11.0
zope.event==4.5.0
zope.interface==5.5.2
zopfli==0.2.2
